---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: apptrail-controller-role
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments/status
  verbs:
  - get
- apiGroups:
  - apptrail.apptrail.sh
  resources:
  - deploymentrolloutstates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
