---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: apptrail-agent-role
rules:
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  - statefulsets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets/status
  - deployments/status
  - statefulsets/status
  verbs:
  - get
- apiGroups:
  - apptrail.apptrail.sh
  resources:
  - workloadrolloutstates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
